* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
    color: #333;
}

body {
    -webkit-tap-highlight-color: transparent;
    /*把高亮颜色设置为透明，也可以使用rgba的形式*/
}


/* 滚动条样式 */

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    height: 0;
}

::-webkit-scrollbar-track-piece {
    height: 0;
}

body {
    background-color: #fffde4;
}

.wrapper {
    display: flex;
    overflow: hidden;
    /* width: 90%; */
    /* width: 94%; */
    width: 1450px;
    height: 990px;
    margin: 30px auto;
    border-radius: 26px;
    /* background-color: #c9ecff; */
    background-color: rgb(202, 224, 255);
}


/* 左侧tab切换 */

.tab {
    position: relative;
    /* width: 10%; */
    width: 15%;
    height: 100%;
    padding-left: 10px;
    background-color: rgb(202, 224, 255);
    /* background-color: #ceecff; */
}

.tab>ul {
    padding-top: 40px;
}

.tab>ul>li {
    text-align: center;
    /* position: relative; */
    cursor: pointer;
    width: 100%;
    height: 34px;
    margin: 10px 0;
    border-radius: 10px;
    transition: background-color .3s ease;
}

.tab>ul>li:hover {
    background-color: #9ec7f5;
}

.tab>ul>li>span {
    display: block;
    text-align: center;
    line-height: 34px;
    color: #7f7f7f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 1s ease;
}

.tab>ul>li.active>a {
    color: #333;
}


/* tab下拉 */

.tab .dropnav {
    overflow: hidden;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 11;
    width: 0;
    /* width: 100%; */
    height: 92%;
    margin-top: 38px;
    /* padding: 100px 0 8px 10px; */
    padding-top: 100px;
    border-radius: 20px 0 0 20px;
    background-color: #9ec7f5;
    transition: width .3s .1s ease;
}

.tab .dropnav li {
    border-radius: 10px;
    width: 160px;
    margin: 0 auto;
    height: 44px;
}

.tab .dropnav li:hover {
    background-color: rgba(72, 164, 232, .5);
}

.tab .dropnav span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 44px;
    /* color: #3c3c3c; */
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}


/* 出现效果 */

.tab>ul>li.active .dropnav {
    width: 180px;
    transform: translate(0);
}


/* 右侧内容 */

.content {
    display: none;
    position: absolute;
    /* width: 85%; */
    /* height: 96%; */
    /* width: 100%; */
    /* height: 100%; */
}

.active {
    display: block;
    position: absolute;
}


/* .content{
    position: absolute;
    position: relative;
    width: 85%;
    height: 96%;
    margin: 23px 0;
    margin-bottom: 0px;
    padding:20px 30px 10px 30px;
    border-radius: 20px;
    background-color: #fff4ee;
} */

.contWrap {
    position: absolute;
    position: relative;
    /* width: 85%; */
    width: 81%;
    height: 95%;
    margin: 23px 0;
    margin-bottom: 0px;
    padding: 20px 30px 10px 30px;
    border-radius: 20px;
    /* background-color: rgb(250, 248, 229); */
    /* background-color: #fff4ee; */
    background-color: #fffde4;
}

.content h1 {
    position: relative;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}


/* 搜索框 */

.searchBox {
    position: absolute;
    right: 0;
    top: -10px;
    display: inline-block;
    width: 350px;
    height: 50px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 4px 4px 5px rgb(0 0 0 / 25%);
}

#searchIpt {
    transform: translateY(-18px);
    height: 100%;
    width: 280px;
    padding-left: 30px;
}

#searchIpt::placeholder {
    color: #aaa;
}

#searchIpt,
#searchBtn {
    background-color: transparent;
    border: none;
    outline: none;
}

#searchBtn {
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 100%;
    background-image: url(../Images/u81.png);
    background-size: contain;
}

.content .diet {
    display: none;
    position: relative;
    width: 100%;
    height: 280px;
}

.content .list {
    /* position: absolute; */
    position: relative;
    z-index: 10;
    width: 100%;
    transition: .3 ease;
}

.content .diet-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
    transition: .3s ease;
}

.content .list.show .diet-frame {
    height: 480px;
}

.content .list.show {
    transform: translateY(30px);
    background-color: rgba(184, 180, 180, 0.341);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    backdrop-filter: blur(15px);
    border-radius: 22px;
}

.content .diet-frame ul {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 12000px;
    transition: all .3s ease;
}

.diet-frame .list1,
.diet-frame .list2 {
    display: flex;
    position: absolute;
    /* transition: .5s ease; */
}

.diet-frame .list2 {
    /* display: none; */
}

.diet-frame li {
    overflow: hidden;
    width: 190px;
    height: 192px;
    padding-top: 5px;
    margin: 20px 16px;
    border-radius: 10px;
    background-color: rgb(226, 231, 191);
}

.diet-frame .img {
    overflow: hidden;
    width: 165px;
    height: 110px;
    margin: 0 12px;
    margin-bottom: 6px;
    border-radius: 10px;
    background-color: #fff;
}

.diet-frame img {
    width: 100%;
    transition: .3s ease;
}

.diet-frame .brief {
    padding: 6px 10px;
    background-color: #fff;
    transition: .3s ease;
}

.diet-frame li:hover .brief {
    transform: translateY(-30px);
}

.diet-frame li:hover img {
    transform: scale(1.2);
}

.diet-frame .brief h5 {
    font-weight: bold;
}

.diet-frame .brief b {
    color: #D9001B;
}

.diet-frame .brief p,
.diet-frame .brief h5 {
    font-size: 15px;
    line-height: 30px;
    background-color: #fff;
}


/* 翻页按钮 */

.btn {
    display: flex;
    position: absolute;
    z-index: 77777;
    width: 150px;
    left: 433px;
    /* top: 552px; */
}

.btn button {
    width: 67px;
    height: 67px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../Images/u377.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.btn button:nth-child(2) {
    transform: rotate(180deg);
}

.content .details {
    width: 100%;
    height: 64%;
    margin-top: 10px;
    padding-top: 20px;
    padding: 20px 10px 20px;
    border-radius: 26px;
    background-color: #f9d2ab;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .2);
}

.details h2 {
    padding-left: 10px;
    padding: 8px 0 10px 10px;
    font-size: 24px;
    line-height: 30px;
}

.details .inner {
    display: flex;
    width: 98%;
    padding: 17px 0;
    border-radius: 22px;
    margin: 0 10px;
}

.details .left {
    width: 164px;
    height: 132px;
    margin: 0 30px;
    border-radius: 15px;
    /* background-color: #bfa; */
}

.details h3 {
    font-size: 23px;
    font-weight: bold;
    line-height: 50px;
}

.details span {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    padding-left: 20px;
}

.details .right>div {
    position: relative;
    display: flex;
    height: 45px;
    width: 850px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.details .info {
    overflow: hidden;
    display: flex;
    width: 98%;
    background-color: rgba(251, 230, 218, 1);
    margin: 0 10px;
    /* padding: 0 10px; */
    border-radius: 22px;
}

.details .info h4 {
    text-align: center;
    line-height: 48px;
    font-size: 25px;
}

.details .info p {
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.details .info b {
    color: #7f7f7f;
}

.details .info>div {
    width: 50%;
    height: 100%;
}

.details .column1 ul {
    padding-left: 10px;
    background-color: #fff;
}

.details .column2 ul {
    padding-right: 10px;
    background-color: #fff;
}

.details .info li {
    border: 1px dashed rgb(215, 215, 215);
    border-top: none;
    height: 48px;
}

.details .info .column1 li {
    border-left: none;
}

.details .info .column2 li {
    text-align: center;
    border-right: none;
}