* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

body {
    -webkit-tap-highlight-color: transparent;
    /*把高亮颜色设置为透明，也可以使用rgba的形式*/
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf?t=1664767369142') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 背景图 */

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../Images/publicIsland.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.background img {
    width: 100%;
    height: 100%;
}


/* 获取随机信件start */

.getLetter {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(127, 127, 127, 0.501960784313725);
    z-index: 1;
    transition: all 0.4s ease-out;
    transition-delay: 0.4s;
}


/* 获取随机信件 */

.getLetter .mailsContent {
    position: relative;
    width: 735px;
    height: 740px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    background: #f9f4dc;
}


/* 获取随机信件 内层*/

.getLetter .mailsContent .insideCase {
    position: absolute;
    width: 630px;
    height: 690px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555555;
    background: url(../Images/letterPaperBg.svg) no-repeat;
    background-size: contain;
    border-radius: 18px;
}


/* 获取随机信件 内层 信的称呼*/

.getLetter .mailsContent .insideCase h1 {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 10px;
    top: 30px;
    font-size: 24px;
    line-height: 20px;
}


/* 获取随机信件 内层 信的内容*/

.getLetter .mailsContent .insideCase article {
    position: absolute;
    width: 580px;
    height: 340px;
    top: 40px;
    padding-top: 30px;
    font-size: 18px;
    left: 25px;
}


/* 获取随机信件 内层 祝福语*/

.getLetter .mailsContent .insideCase .wish {
    position: absolute;
    width: 126px;
    height: 40px;
    left: 25px;
    bottom: 100px;
    font-size: 18px;
    line-height: 20px;
}


/* 获取随机信件 内层 写信回复*/

.getLetter .mailsContent .insideCase .reply {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 25px;
    bottom: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: rgba(156, 213, 255, 1);
    border-radius: 18px;
    cursor: pointer;
}


/* 获取随机信件 内层 写信的id*/

.getLetter .mailsContent .insideCase .sender {
    position: absolute;
    width: 140px;
    height: 30px;
    right: 25px;
    bottom: 84px;
    font-size: 24px;
    text-align: right;
    line-height: 30px;
}


/* 获取随机信件 内层 写信日期*/

.getLetter .mailsContent .insideCase .date {
    position: absolute;
    width: 200px;
    height: 30px;
    right: 25px;
    bottom: 50px;
    font-size: 24px;
    text-align: right;
    line-height: 30px;
}


/* 获取随机信件 内层 下一封信*/

.getLetter .mailsContent .next {
    position: absolute;
    width: 113px;
    height: 113px;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    background: url(../Images/next.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
}


/* 获取随机信件end */


/* 回复随机信件 start */

.getLetter .mailsContent .replyRandomLetter {
    display: none;
    position: absolute;
    width: 632px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    overflow: hidden;
}


/* 回复随机信件 头部 */

.getLetter .mailsContent .replyRandomLetter .head {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    line-height: 140px;
    background-color: #b8e0fe;
    padding-left: 50px;
}


/* 回复随机信件 头部 文字*/

.getLetter .mailsContent .replyRandomLetter .head span {
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: rgb(0 0 0 / 65%) 1px 1px 5px;
}


/* 回复随机信件 内容 */

.getLetter .mailsContent .replyRandomLetter .content {
    position: absolute;
    width: 100%;
    height: 580px;
    bottom: 0;
    left: 0;
    background-color: rgba(247, 245, 234, 0.898);
}


/* 回复随机信件 内容 初始文字*/

.getLetter .mailsContent .replyRandomLetter .content .startData {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 150px;
    text-align: center;
    font-size: 24px;
    color: #333333;
}


/* 回复随机信件 内容 回复区*/

.getLetter .mailsContent .replyRandomLetter .content .replyArticle {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    padding: 30px;
}


/* 回复随机信件 内容 回复的内容*/

.getLetter .mailsContent .replyRandomLetter .content .replyArticle textarea {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    resize: none;
    color: #333333;
    font-size: 20px;
}


/* 回复随机信件 内容 发送按钮*/

.getLetter .mailsContent .replyRandomLetter .content .btn_send {
    position: absolute;
    width: 190px;
    height: 80px;
    left: 40px;
    bottom: 30px;
    background-color: rgba(255, 223, 209, 1);
    border-radius: 30px;
    padding-left: 90px;
    font-size: 28px;
    line-height: 80px;
    cursor: pointer;
}


/* 回复随机信件 内容 发送按钮图片*/

.getLetter .mailsContent .replyRandomLetter .content .btn_send .img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 30px;
    background: url(../Images/send.png) no-repeat;
    background-size: contain;
}


/* 回复随机信件 内容 右侧书信*/

.getLetter .mailsContent .replyRandomLetter .content .letter {
    position: absolute;
    width: 178px;
    height: 168px;
    right: 20px;
    bottom: 20px;
    background: url(../Images/letter.png) no-repeat;
    background-size: contain;
}


/* 回复随机信件 关闭按钮 */

.getLetter .mailsContent .replyClose {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 32px;
    right: 60px;
    background: url(../Images/close.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}


/* 回复随机信件 关闭按钮鼠标经过图片改变 */

.getLetter .mailsContent .replyClose:hover {
    background: url(../Images/close_hover.png) no-repeat;
    background-size: contain;
}


/* 回复随机信件 end */


/* 返回岛的页面 */

.backTo {
    position: absolute;
    width: 110px;
    height: 100px;
    top: 50px;
    left: 50%;
    transform: translateX(-730px);
}


/* tab选项卡 */

.tab {
    position: absolute;
    width: 1200px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(195, 227, 225, 0.756862745098039);
    border-radius: 20px;
    overflow: hidden;
}


/* tab选项卡 头部 */

.tab .tabHead {
    position: absolute;
    width: 180px;
    height: 100%;
    left: 0;
    padding: 5px 0 5px 10px;
}

.tab .tabHead ul {
    width: 100%;
    height: 100%;
}


/* tab选项卡 当前选中的li */

.tab .tabHead .currentClick {
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    width: 160px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(249, 244, 220, 1);
    transition: top .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* tab选项卡 头部 li选项*/

.tab .tabHead li {
    position: relative;
    width: 100%;
    height: 25%;
    background-size: contain;
}


/* tab选项卡 头部 li选项 圆圈背景 */

.tab .tabHead li .img {
    position: absolute;
    width: 102px;
    height: 94px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../Images/circle.svg) no-repeat;
}


/* tab选项卡 头部 li选项 圆圈背景图片 */

.tab .tabHead li .img img {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* tab选项卡 头部 li选项 文字 */

.tab .tabHead li p {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 45px;
    bottom: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
}


/* tab选项卡 内容 */

.tab .tabBody {
    position: absolute;
    width: 1020px;
    height: 630px;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
}

.tab .tabBody section {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 630px;
    transition: all 0.5s ease;
}


/* tab选项卡 内容 解忧小铺*/

.tab .tabBody .reliefOfWorries {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}


/* tab选项卡 内容 解忧小铺左侧*/

.tab .tabBody .reliefOfWorries .left {
    position: absolute;
    width: 445px;
    height: 587px;
    top: 22px;
    left: 0;
    background-color: #f6f0e8;
    border-radius: 0 18px 18px 0;
}


/* tab选项卡 内容 解忧小铺左侧 小铺信箱*/

.tab .tabBody .reliefOfWorries .left .publicMailbox {
    position: absolute;
    width: 357px;
    height: 257px;
    top: 8px;
    left: 50px;
    background-color: #fff;
    border-radius: 12px;
}


/* tab选项卡 内容 解忧小铺左侧 私人信箱*/

.tab .tabBody .reliefOfWorries .left .privateMailbox {
    position: absolute;
    width: 357px;
    height: 273px;
    bottom: 8px;
    left: 50px;
    background-color: #fff;
    border-radius: 12px;
}


/* tab选项卡 内容 解忧小铺左侧 小铺信箱图*/

.tab .tabBody .reliefOfWorries .left .publicMailbox .picture {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 5px;
    left: 5px;
    background: url(../Images/publicMailbox.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺左侧 私人信箱图*/

.tab .tabBody .reliefOfWorries .left .privateMailbox .picture {
    position: absolute;
    width: 100px;
    height: 74px;
    top: 5px;
    left: 5px;
    background: url(../Images/privateMailbox.png) no-repeat;
    background-size: contain;
    z-index: 1;
}


/* tab选项卡 内容 解忧小铺左侧 信箱标题*/

.tab .tabBody .reliefOfWorries .left .title {
    position: absolute;
    width: 104px;
    height: 30px;
    top: 8px;
    left: 120px;
    font-size: 26px;
    line-height: 30px;
    color: #333333;
}


/* tab选项卡 内容 解忧小铺左侧 信箱下划线*/

.tab .tabBody .reliefOfWorries .left .line {
    position: absolute;
    width: 200px;
    height: 3px;
    left: 86px;
    top: 45px;
    background: url(../Images/underline.svg) no-repeat;
    background-size: contain;
}


/* 点击刷新随机信件按钮 */

.tab .tabBody .reliefOfWorries .left .btn_flush {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 305px;
    top: 10px;
    background: url(../Images/flush.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* 点击刷新随机信件按钮 刷新提示    */

.tab .tabBody .reliefOfWorries .left .flushTip {
    display: none;
    position: absolute;
    width: 230px;
    height: 30px;
    top: 56px;
    left: 320px;
    padding: 0 10px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #555555;
    z-index: 1;
    border-radius: 8px;
}


/* 鼠标经过显示提示信息 */

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/* tab选项卡 内容 解忧小铺左侧 信封外框*/

.tab .tabBody .reliefOfWorries .left .letter {
    position: absolute;
    width: 250px;
    height: 200px;
    left: 53.5px;
    bottom: 12px;
}


/* tab选项卡 内容 解忧小铺左侧 信封*/

.tab .tabBody .reliefOfWorries .left .letter li {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}


/* tab选项卡 内容 解忧小铺左侧 信封图片*/

.tab .tabBody .reliefOfWorries .left .letter li img {
    position: absolute;
    width: 105px;
    height: 72px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺左侧 打开信封图片外框*/

.tab .tabBody .reliefOfWorries .left .letter li .envelopeOpen {
    visibility: hidden;
    position: absolute;
    width: 105px;
    height: 135px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    cursor: pointer;
}

.tab .tabBody .reliefOfWorries .left .letter li:nth-child(4) .envelopeOpen {
    visibility: visible;
}

.tab .tabBody .reliefOfWorries .left .letter li:nth-child(4) img {
    visibility: hidden;
}


/* tab选项卡 内容 解忧小铺左侧 打开信封背面*/

.tab .tabBody .reliefOfWorries .left .letter li .envelopeOpen .envelopeBehind {
    position: absolute;
    width: 105px;
    height: 108px;
    bottom: 0;
    left: 0;
    background: url(../Images/envelopeOpen1.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺左侧 打开信封封面*/

.tab .tabBody .reliefOfWorries .left .letter li .envelopeOpen .envelopeFront {
    position: absolute;
    width: 105px;
    height: 72px;
    bottom: 0;
    left: 0;
    background: url(../Images/envelopeOpen2.png) no-repeat center 6px;
    background-size: contain;
    z-index: 1;
}


/* tab选项卡 内容 解忧小铺左侧 打开信封信纸*/

.tab .tabBody .reliefOfWorries .left .letter li .envelopeOpen .envelopeLetter {
    position: absolute;
    width: 85px;
    height: 135px;
    bottom: -80px;
    left: 10px;
    background: url(../Images/envelopeOpen3.png) no-repeat;
    background-size: contain;
    transition: all 0.5s ease;
}


/* tab选项卡 内容 解忧小铺左侧 写信*/

.tab .tabBody .reliefOfWorries .left .receipt {
    position: absolute;
    width: 300px;
    height: 78px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(231, 248, 250, 1);
    border-radius: 12px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺左侧 回信*/

.tab .tabBody .reliefOfWorries .left .write {
    position: absolute;
    width: 300px;
    height: 78px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(231, 236, 250, 1);
    border-radius: 12px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺左侧 写、回信文字*/

.tab .tabBody .reliefOfWorries .left .write span,
.tab .tabBody .reliefOfWorries .left .receipt span {
    position: absolute;
    width: 144px;
    height: 30px;
    left: 45px;
    top: 24px;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    white-space: nowrap;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}


/* tab选项卡 内容 解忧小铺左侧 写、回信右侧图*/

.tab .tabBody .reliefOfWorries .left .write .pic {
    position: absolute;
    width: 72px;
    height: 60px;
    right: 10px;
    top: 9px;
    background: url(../Images/receipt.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺左侧 写、回信右侧图*/

.tab .tabBody .reliefOfWorries .left .receipt .pic {
    position: absolute;
    width: 72px;
    height: 60px;
    right: 10px;
    top: 9px;
    background: url(../Images/write.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧*/

.tab .tabBody .reliefOfWorries .right {
    position: absolute;
    width: 496px;
    height: 598px;
    top: 10px;
    right: 50px;
    border-radius: 18px;
    overflow: hidden;
}


/* tab选项卡 内容 解忧小铺右侧 顶部*/

.tab .tabBody .reliefOfWorries .right .top {
    width: 100%;
    height: 100px;
    background-color: #b8e0fe;
    line-height: 100px;
    padding-left: 50px;
}

.tab .tabBody .reliefOfWorries .right .top span {
    float: left;
    height: 45px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}


/* tab选项卡 内容 解忧小铺右侧 底部*/

.tab .tabBody .reliefOfWorries .right .bottom {
    position: relative;
    width: 100%;
    height: 498px;
    background-color: #f6f0e8;
    line-height: 498px;
    text-align: left;
}


/* tab选项卡 内容 解忧小铺右侧 底部 原始信封*/

.tab .tabBody .reliefOfWorries .right .bottom .articleStart {
    position: absolute;
    width: 290px;
    height: 175px;
    top: 42%;
    left: 55%;
    padding: 32px 60px;
    transform: translate(-50%, -50%);
    background: url(../Images/buildTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 原始信封 小蜗牛*/

.tab .tabBody .reliefOfWorries .right .bottom .articleStart .snailTip {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 130px;
    left: -50px;
    background: url(../Images/snailTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 原始信封（写信）*/

.tab .tabBody .reliefOfWorries .right .bottom .articleStartWrite {
    position: absolute;
    width: 470px;
    height: 250px;
    top: 36%;
    left: 55%;
    padding: 50px 25px;
    line-height: 370px;
    transform: translate(-50%, -50%);
    background: url(../Images/buildTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 原始信封 小蜗牛（写信）*/

.tab .tabBody .reliefOfWorries .right .bottom .snailTipWrite {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 220px;
    left: 0px;
    background: url(../Images/snailTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 原始信封提示词*/

.tab .tabBody .reliefOfWorries .right .bottom .articleStart p,
.tab .tabBody .reliefOfWorries .right .bottom .articleStartWrite p {
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #333333;
    line-height: 30px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 寄信完提示*/

.tab .tabBody .reliefOfWorries .right .bottom .successTip,
.sendTip {
    display: none;
    position: absolute;
    width: 430px;
    height: 200px;
    text-align: center;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 18px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 寄信完提示 标题*/

.tab .tabBody .reliefOfWorries .right .bottom .successTip h1,
.sendTip h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #333333;
    margin: 10px auto;
}


/* tab选项卡 内容 解忧小铺右侧 底部 寄信完提示 p*/

.tab .tabBody .reliefOfWorries .right .bottom .successTip p,
.sendTip p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    font-size: 18px;
    color: #836C50;
}


/* tab选项卡 内容 解忧小铺右侧 底部 寄信完提示 按钮*/

.tab .tabBody .reliefOfWorries .right .bottom .successTip .know,
.sendTip .know {
    width: 108px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 10px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺右侧 底部 信封内容 */

.tab .tabBody .reliefOfWorries .right .bottom article {
    display: none;
    position: absolute;
    width: 100%;
    height: 360px;
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    padding: 30px;
}

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle textarea {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 信封内容 信件选项卡 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .articleTop {
    display: flex;
    position: absolute;
    width: 200px;
    height: 20px;
    top: 10px;
    left: 15px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 信封内容 信件选项卡 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .articleTop span {
    width: 50%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #A8C8E1;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺右侧 底部 信封内容 信件下划线 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .articleTop .currentUnderline {
    position: absolute;
    width: 80px;
    height: 5px;
    left: 10px;
    top: 24px;
    background-color: rgba(132, 178, 246, 1);
    border-radius: 15px;
    transition: left .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle h3 {
    width: 100%;
    height: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 30px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .historyLetter {
    position: absolute;
    width: 87%;
    height: 110px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 信件tab*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .tabReply {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 496px;
    height: 310px;
    top: 50px;
    left: 0px;
    transition: all 0.5s ease;
}

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .tabReply li {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea {
    display: block;
    position: absolute;
    width: 88%;
    height: 162px;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 取消回信的scroll-y */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .notReply .replyArea {
    overflow: hidden;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 已收回信的ul*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replied .replyArea ul {
    width: 100%;
    height: auto;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 未回信蜗牛 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea .noReplySnail {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60px;
    left: 50px;
    background: url(../Images/snailTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 未回信提示 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea .noReplySnail .noReplyTip {
    position: absolute;
    width: 210px;
    height: 130px;
    padding: 24px;
    top: -60px;
    left: 84px;
    background: url(../Images/buildTip.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 总标题*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea h3 {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 0;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 ul*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea h3 ul {
    width: 100%;
    height: auto;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 每一封回信 */

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea ul li {
    position: relative;
    display: block;
    position: none;
    width: 100%;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 每一封回信 回信者*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea ul li h4 {
    display: flex;
    width: 100%;
    height: 18px;
    margin: 5px auto;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 每一封回信 回信者*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea ul li h4 span {
    width: 18%;
    height: 100%;
    font-size: 15px;
    line-height: 18px;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 回信 每一封回信 回信内容*/

.tab .tabBody .reliefOfWorries .right .bottom .receiptArticle .replyArea ul li .replyContent {
    width: 96%;
    height: 110px;
    font-weight: 300;
}


/* tab选项卡 内容 解忧小铺右侧 底部 历史信件 内容*/

.tab .tabBody .reliefOfWorries .right .bottom article textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    resize: none;
}


/* tab选项卡 内容 解忧小铺右侧 底部右侧信封*/

.tab .tabBody .reliefOfWorries .right .bottom .rightLetter {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 10px;
    bottom: 10px;
    background: url(../Images/letter.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部左侧按钮*/

.tab .tabBody .reliefOfWorries .right .bottom .btn_left {
    display: none;
    position: absolute;
    width: 150px;
    height: 68px;
    bottom: 25px;
    left: 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 223, 209, 1);
    border-radius: 30px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺右侧 上一封按钮 */

.tab .tabBody .reliefOfWorries .right .bottom .lastOne {
    display: none;
    position: absolute;
    width: 150px;
    height: 68px;
    bottom: 25px;
    left: 80px;
    font-size: 20px;
    text-align: center;
    line-height: 68px;
    color: #555555;
    background-color: rgba(255, 223, 209, 1);
    border-radius: 30px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺右侧 下一封按钮 */

.tab .tabBody .reliefOfWorries .right .bottom .nextOne {
    display: none;
    position: absolute;
    width: 150px;
    height: 68px;
    bottom: 25px;
    left: 252px;
    font-size: 20px;
    text-align: center;
    line-height: 68px;
    color: #555555;
    background-color: rgba(255, 223, 209, 1);
    border-radius: 30px;
    cursor: pointer;
}


/* tab选项卡 内容 解忧小铺右侧 底部左侧按钮*/

.tab .tabBody .reliefOfWorries .right .bottom .btn_left .img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;
    background: url(../Images/send.png) no-repeat;
    background-size: contain;
}


/* tab选项卡 内容 解忧小铺右侧 底部左侧按钮*/

.tab .tabBody .reliefOfWorries .right .bottom .btn_left span {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 2px;
    left: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #555555;
}


/* 随机激励start */

.inspirt h1 {
    width: 100%;
    height: 30px;
    margin: 20px auto -20px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    line-height: 30px;
    text-align: center;
}


/* 随机激励 卡牌外框 */

.inspirt ul {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    transform-style: preserve-3d;
    perspective: 800px;
}


/* 随机激励 卡牌 */

.inspirt ul li {
    display: block;
    width: 235px;
    height: 260px;
    margin: 10px 20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* 随机激励 卡牌内部 */

.inspirt ul li .liInside {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.2s;
    transform-style: preserve-3d;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(1) .liInside {
    background: url(../Images/cardOne.svg) no-repeat;
    background-size: contain;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(2) .liInside {
    background: url(../Images/cardTwo.svg) no-repeat;
    background-size: contain;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(3) .liInside {
    background: url(../Images/cardThree.svg) no-repeat;
    background-size: contain;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(4) .liInside {
    background: url(../Images/cardFour.svg) no-repeat;
    background-size: contain;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(5) .liInside {
    background: url(../Images/cardFive.svg) no-repeat;
    background-size: contain;
}


/* 随机激励 卡牌内部 图片 */

.inspirt ul li:nth-child(6) .liInside {
    background: url(../Images/cardSix.svg) no-repeat;
    background-size: contain;
}


/* 随机激励展示区 start */

.inspirt .showArea {
    display: none;
    position: absolute;
    width: 910px;
    height: 535px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(237, 237, 250, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    transition: all 0.6s ease;
}


/* 随机激励展示区 小蜗牛 */

.inspirt .showArea .snail {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 20px;
    right: 20px;
    background: url(../Images/snail.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
}


/* 随机激励展示区 小蜗牛 右侧反馈提示框*/

.inspirt .showArea .snail .inspirtTip {
    display: none;
    position: absolute;
    width: 86px;
    height: 200px;
    top: -45px;
    left: -132px;
    transform: rotate(-90deg);
    background: url(../Images/inspirtTip.svg) no-repeat;
    background-size: contain;
}

.inspirt .showArea .content {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 35px;
}


/* 随机激励展示区 小蜗牛 右侧反馈提示框 文字框*/

.inspirt .showArea .snail .inspirtTip span {
    display: block;
    position: absolute;
    width: 144px;
    height: 85px;
    top: 35px;
    left: -30px;
    padding: 10px;
    transform: rotate(90deg);
}


/* 随机激励展示区 主标题 */

.inspirt .showArea h1 {
    width: 100%;
    height: 30px;
    padding-left: 60px;
    text-align: left;
    font-size: 32px;
    margin-top: 30px;
}


/* 随机激励展示区 副标题 */

.inspirt .showArea h2 {
    width: 100%;
    padding: 0 60px;
    margin: 40px auto 10px;
    font-size: 24px;
}


/* 随机激励展示区 内容文字 */

.inspirt .showArea p {
    padding: 10px 60px;
    font-size: 22px;
    font-family: serif;
}


/* 随机激励展示区 有意思按钮 */

.inspirt .showArea .btn_agree {
    position: absolute;
    width: 300px;
    height: 80px;
    right: 100px;
    bottom: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(35, 34, 34, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    cursor: pointer;
}


/* 随机激励展示区 不满意按钮 */

.inspirt .showArea .btn_disagree {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 100px;
    bottom: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    cursor: pointer;
}


/* 随机激励展示区 end */


/* 随机激励end */


/* 解压小游戏 start */

.game {
    text-align: center;
}


/* 解压小游戏 ul */

.game ul {
    display: flex;
    width: 900px;
    height: 520px;
    margin: 55px auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}


/* 解压小游戏 游戏分类 */

.game ul li {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 360px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* 解压小游戏 游戏分类 游戏名字 */

.game ul li span {
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 3px;
    z-index: 1;
    margin-left: 35px;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}

.game ul li:nth-child(1) span {
    text-shadow: none;
}


/* 解压小游戏 游戏分类 1 */

.game ul li:nth-child(1) {
    color: #333333;
    background: url(../Images/game_one.png) no-repeat center;
    background-size: contain;
}

.game ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* 解压小游戏 游戏区域 */

.game .gameArea {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: inset 0 0 30px rgb(165, 163, 160);
    overflow: hidden;
}


/* 解压小游戏 打地鼠区域 start */

.game .gameArea .mouseArea {
    display: grid;
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 0px 135px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    background: url(../Images/mouseBg.png) no-repeat;
    background-size: contain;
}


/* 解压小游戏 打地鼠区域 开始，结束按钮 */

.game .gameArea .mouseArea .gameBtn {
    display: flex;
    position: absolute;
    width: 165px;
    height: 40px;
    bottom: 35px;
    left: 50%;
    margin-left: -70px;
}


/* 解压小游戏 打地鼠区域 开始，结束按钮 */

.game .gameArea .mouseArea .gameBtn button {
    width: 50%;
    height: 90%;
    margin: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
}


/* 解压小游戏 打地鼠区域 鼠标经过样式改变 */

.game .gameArea .mouseArea:hover {
    cursor: url(../Images/hammer.png), auto;
}


/* 解压小游戏 打地鼠区域 每个地鼠小格子 */

.game .gameArea .mouseArea .item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* 解压小游戏 打地鼠区域 每个地鼠小格子 图片 */

.game .gameArea .mouseArea .item img {
    display: none;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 解压小游戏 打地鼠区域 每个地鼠小格子 地鼠图片 */

.game .gameArea .mouseArea .item .mouse {
    display: block;
    width: 80%;
    height: 80%;
    top: 210px;
    transition: all 0.3s ease;
}


/* 解压小游戏 打地鼠区域 每个地鼠小格子 小洞图片 */

.game .gameArea .mouseArea .item .hole {
    display: block;
}

.game .gameArea .mouseArea .item .holeHover {
    width: 100%;
    height: 30px;
    top: 144px;
    display: block;
    z-index: 1;
}


/* 解压小游戏 打地鼠区域 end */


/* 解压小游戏 放烟花区域 start */

.game .gameArea .fireworkArea {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../Images/night.png) no-repeat;
    background-size: contain;
    border-radius: 20px;
}


/* 自动播放按钮 */

.game .gameArea .fireworkArea button {
    position: absolute;
    width: 130px;
    height: 45px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 20px;
    background: none;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    z-index: 1;
}


/* 解压小游戏 放烟花区域 end */


/* 解压小游戏 充气球 start */

.game .gameArea .balloonArea {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: url(../Images/balloonBg.png) no-repeat;
    background-size: contain;
}


/* 解压小游戏 充气球 充气泵 */

.game .gameArea .balloonArea .inflatable {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 85px;
    bottom: 10px;
}


/* 解压小游戏 充气球 充气头 */

.game .gameArea .balloonArea .inflatable .inflatablePress {
    position: absolute;
    width: 145px;
    height: 200px;
    left: 31px;
    top: -100px;
    background: url(../Images/inflatablePress.png) no-repeat;
    background-size: contain;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
    cursor: pointer;
}


/* 解压小游戏 充气球 充气体 */

.game .gameArea .balloonArea .inflatable .inflatableBody {
    position: absolute;
    width: 365px;
    height: 270px;
    left: 55px;
    bottom: 40px;
}


/* 解压小游戏 充气球 充气体 前面*/

.game .gameArea .balloonArea .inflatable .inflatableBody .inflatableBodyFront {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../Images/inflatableBodyFront.png) no-repeat;
    background-size: contain;
    z-index: 3;
}


/* 解压小游戏 充气球 充气体 背面*/

.game .gameArea .balloonArea .inflatable .inflatableBody .inflatableBodyBehind {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../Images/inflatableBodyBehind.png) no-repeat;
    background-size: contain;
    z-index: 1;
}


/* 解压小游戏 充气球 气球 */

.game .gameArea .balloonArea .balloon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 303px;
    right: 250px;
    border-radius: 40px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center bottom;
    z-index: 3;
}

.game .gameArea .balloonArea .balloon img {
    width: 100%;
    height: 100%;
}

.game .gameArea .balloonArea .balloon_boom {
    display: none;
    position: absolute;
    width: 170px;
    height: 170px;
    top: 63%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: url(../Images/balloon_boom.png) no-repeat;
    background-size: contain;
    z-index: 3;
}


/* 解压小游戏 充气球 end*/


/* 解压小游戏 end */


/* 温暖小窝 */

.chat {
    overflow: hidden;
    position: relative;
    width: 960px;
    height: 600px;
    padding: 20px 40px;
    margin: 15px 50px 15px 30px;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}

.chat .leftBtn,
.chat .rightBtn {
    z-index: 44;
    cursor: pointer;
    position: absolute;
    top: 260px;
    width: 50px;
    height: 50px;
    background-image: url(../Images/u2000.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.chat .leftBtn {
    transform: rotate(180deg);
    left: 0px;
}

.chat .rightBtn {
    right: 0;
}


/* 顶部标题处 */

.chat .top {
    display: flex;
    justify-content: space-between;
}

.chat .top h1 {
    font-size: 24px;
    font-weight: bold;
}

#setRoom {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

#setRoom span {
    line-height: 40px;
    color: #fff;
    font-size: 20px;
}


/* 列表定位 */

.roomwrap {
    position: relative;
    width: 880px;
    height: 500px;
    /*  */
}


/* 每个房间样式 */

.roomList {
    position: relative;
    left: 0;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 420px);
    grid-template-rows: repeat(2, 230px);
    gap: 40px 40px;
}

.room {
    width: 420px;
    height: 230px;
    padding: 15px 30px;
    border-radius: 20px;
}


/* 奇数 */

.room:nth-child(odd) {
    background-color: rgb(231, 236, 250);
}

.room:nth-child(even) {
    background-color: rgb(231, 243, 250);
}


/* 文字样式 */

.id span,
.theme span,
.inline span {
    font-size: 24px;
    line-height: 45px;
}

.inline span {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}

.roomId {
    font-weight: bold;
    color: #fff;
}

.roomTheme {
    font-family: 'Arial Normal', 'Arial';
    margin-top: 8px;
    margin-left: 10px;
    font-size: 21px;
}

.chat .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}

.enter {
    cursor: pointer;
    width: 73px;
    height: 62px;
    background-image: url(../Images/u1823.png);
    background-repeat: no-repeat;
    background-size: contain;
}


/* 结束提醒页面 */

.roomContainer {
    transition: left .3s ease;
    position: relative;
    left: 0;
    display: flex;
    height: 100%;
    width: 8800px;
}

.endPage {
    width: 880px;
    height: 500px;
    margin-left: 50px;
}

.endtip {
    transform: translate(160px, 120px);
    float: left;
    width: 480px;
    height: 450px;
    padding: 10px 30px;
    background-image: url(../Images/u1897.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* 文字样式 */

.endPage h6 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
}

.endPage p {
    font-size: 24px;
    line-height: 30px;
    color: #333;
}

.endPage p.gap {
    padding-bottom: 20px;
}

.snailEnd {
    transform: translate(140px, 180px);
    float: left;
    width: 268px;
    height: 268px;
    background-image: url(../Images/u1994.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* 创建房间弹出层 */

.setroom {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(215, 215, 215, 0.501960784313725);
}

.setroom .box {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 432px;
    height: 476px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(231, 241, 250);
}

.setroom h3 {
    font-size: 22px;
    line-height: 60px;
}

.inputWrap {
    width: 355px;
    height: 60px;
    border-radius: 6px;
    background-color: #fff;
}

.randomBtn {
    cursor: pointer;
    transform: translateY(5px);
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../Images/u1848.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.inputWrap input {
    width: 340px;
    height: 50px;
    margin: 5px 10px;
    border: none;
    outline: none;
}

.inputWrap:nth-child(4) input {
    transform: translateY(-14px);
    width: 275px;
    /* background-color: #000000; */
}

.infoBox {
    display: flex;
    justify-items: center;
    width: 100%;
    /* height: 450px; */
}

#finished {
    cursor: pointer;
    transform: translateY(70px);
    width: 102px;
    height: 47px;
    border-radius: 5px;
    background-color: rgba(132, 178, 246, 1);
    text-align: center;
}

#finished span {
    font-size: 22px;
    font-weight: bold;
    line-height: 47px;
    color: #fff;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
}

.snail .tip {
    transform: translate(12px, 55px);
    float: left;
    width: 180px;
    height: 150px;
    padding: 8px 30px 2px 12px;
    background-image: url(../Images/u1897.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    ;
}

.snail .tip h4,
.snail .tip p {
    line-height: 22px;
}

.infoBox .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    /* z-index: 80000; */
    width: 118px;
    height: 118px;
    background-image: url(../Images/u983.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* 聊天界面 */

.chatView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
}

.chatView .topT,
.chatView .roomInfo {
    display: flex;
    justify-content: space-between;
}

.chatView .topT>h5 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.chatView .return {
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 1);
}

.chatView .return>span {
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}

.chatView .inner {
    position: relative;
    width: 880px;
    margin-top: 10px;
    height: 503px;
    padding: 20px;
    background-color: rgba(231, 243, 250, 1);
    border-radius: 20px;
}

.roomInfo span {
    font-size: 23px;
    color: #333;
}


/* 远程用户 */

.chatView .remoteU,
.currU {
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px 0;
}

.currU {
    height: 80px;
    Justify-content: flex-end;
}

.chatView .photo {
    width: 70px;
    height: 60px;
}

.chatView .photo img {
    width: 100%;
}

.chatView .text {
    margin-left: 20px;
}

#Uid {
    color: #555555;
    font-size: 20px;
    margin-bottom: 5px;
}

.chatView .text>p:nth-child(2),
.currU p {
    padding: 12px;
    background-color: #fff;
    border-radius: 18px;
    font-size: 22px;
    color: #333;
}

.currU p {
    margin-right: 20px;
}

.currU {
    transform: translateX(340px);
}

.system p {
    margin: 5px;
    text-align: center;
    color: #555;
}


/* 发送input框 */

.sendBox {
    position: absolute;
    bottom: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 840px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(215, 215, 215);
}

#sendIpt {
    width: 700px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

#send {
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: rgba(132, 178, 246, 1);
    border-radius: 4px;
    text-align: center;
    border: 0;
}

#send span {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}