* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

body {
    -webkit-tap-highlight-color: transparent;
    /*把高亮颜色设置为透明，也可以使用rgba的形式*/
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf?t=1664767369142') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 注册区域背景颜色 */

.background {
    width: 100%;
    height: 100vh;
    background: url(../Images/background.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
}


/* 注册板块外框 */

section {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    top: 80px;
}


/* 注册左侧区域 start */

.regist_left {
    position: absolute;
    width: 516px;
    height: 562px;
    top: 0;
    left: 130px;
    border-radius: 74px;
    background-color: rgba(134, 216, 251, 1);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 28%);
}


/* 注册板块左侧 返回登录 */

.regist_left .backToLogin {
    height: 30px;
    margin: 40px auto 10px;
    z-index: 1;
}


/* 注册板块左侧 动态插图 */

.regist_left .img {
    width: 432px;
    height: 492px;
    margin: 0 auto;
    background: url(../Images/seek-help.gif) no-repeat;
    background-size: contain;
}


/* 手指字体图标 */

.regist_left .backToLogin a i {
    float: left;
    width: 40px;
    height: 32px;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 4px 0 0 50px;
}


/* 注册板块左侧 返回登录 */

.regist_left .backToLogin a span {
    float: left;
    font-size: 30px;
    color: #FFFFFF;
}


/* 注册左侧区域 end */


/* 注册右侧区域 start */

.regist_right {
    position: absolute;
    width: 472px;
    height: 508px;
    top: 27px;
    right: 130px;
    border-radius: 74px;
    border: 1px solid rgba(121, 121, 121, 1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 6px rgb(0 0 0 / 30%);
    z-index: 1;
    text-align: left;
}


/* 选择账号头像外框架 */

.regist_right .headshot_case {
    position: relative;
    width: 360px;
    height: 70px;
    margin: 10px auto;
}


/* 选择账号中心图片区域 */

.regist_right .headshot {
    position: absolute;
    width: 300px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    overflow: hidden;
}


/* 选择账号中心图片区域 ul */

.regist_right .headshot ul {
    position: absolute;
    width: 600px;
    height: 100%;
    top: 0;
    left: 0;
}


/* 选择账号中心图片区域 图片外边框 */

.regist_right .headshot ul li {
    position: relative;
    float: left;
    width: 55px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 27.5px;
    margin: 12.5px 10px;
    cursor: pointer;
}


/* 选择账号中心图片区域 头像图片 */

.regist_right .headshot ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 选择账号左侧按钮 */

.regist_right .headshot_case .btn_left {
    position: absolute;
    width: 22px;
    height: 17px;
    top: 32px;
    left: 0;
    transform: rotate(-90deg);
    cursor: pointer;
}


/* 选择账号右侧按钮 */

.regist_right .headshot_case .btn_right {
    position: absolute;
    width: 22px;
    height: 17px;
    top: 32px;
    right: 0;
    transform: rotate(90deg);
    cursor: pointer;
}


/* 选择账号右侧 p提示文字 */

.regist_right p {
    margin: 10px auto;
    padding-left: 50px;
}


/* 选择账号右侧 p提示文字 step */

.regist_right p span:nth-child(1) {
    font-size: 13px;
    color: #333333;
}


/* 选择账号右侧 p提示文字 step右侧文字*/

.regist_right p span:nth-child(2) {
    font-size: 13px;
    color: #AAAAAA;
}

.regist_right .passwordTip {
    font-size: 12px;
    color: #bf0614;
    margin-left: 60px;
}


/* 选择账号右侧 生成即表同意*/

.regist_right p .agree {
    font-size: 18px !important;
    color: #7F7F7F !important;
    margin-left: 50px;
}


/* 选择账号右侧 用户管理协议 */

.regist_right p a {
    font-size: 18px;
}


/* 密码,确认密码共同部分 */

.regist_right .password,
.regist_right .repeatPassword {
    position: relative;
    width: 380px;
    height: 50px;
    border: none;
    border-radius: 24px;
    background-color: rgba(221, 240, 244, 1);
    box-shadow: none;
    margin: 0 auto;
}


/* 密码,确认密码输入框 */

.regist_right input {
    position: absolute;
    width: 334px;
    height: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #7F7F7F;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}


/* 密码输入框 */

.regist_right .input_password {
    display: none;
    width: 320px;
    left: 180px;
    z-index: 1;
}


/* 去除密码输入框的眼睛 */

section .regist_right .input_password::-ms-reveal {
    display: none;
}


/* 密码,确认密码右侧眼睛显示,隐藏 */

.regist_right .input_off {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 24px;
    background: url(../Images/input-off.png) no-repeat 0 8px;
    background-size: contain;
    cursor: pointer;
}

.regist_right .input_look {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 24px;
    background: url(../Images/input-look.png) no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
}


/* 一键生成账号按钮 */

.regist_right .generate_account {
    width: 367px;
    height: 56px;
    line-height: 56px;
    margin: 20px auto 30px;
    text-align: center;
    border-radius: 45px;
    background-color: rgba(68, 147, 188, 1);
    box-shadow: 3px 3px 5px rgb(51 51 51 / 40%);
    cursor: pointer;
}


/* 一键生成账号按钮 点击触发按钮形式 */

.regist_right .generate_account:active {
    top: 3px;
    transition: all .3s cubic-bezier(.31, 3.4, .29, -.15);
    box-shadow: 4px 4px 5px rgb(51 51 51 / 48%);
}


/* 一键生成账号按钮 链接到爱好*/

.regist_right .generate_account a {
    display: block;
    width: 100%;
    height: 100%;
}


/* 一键生成账号按钮 文字效果*/

.regist_right .generate_account span {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}


/* 注册右侧区域 end */