*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;	
    font: inherit;
    vertical-align: baseline;

    color: #333;
}
body{
    background-color: rgba(194, 218, 246, 1);
}
/* 左上标题 */
header{
    width: 100%;
    height: 130px;
}
header .title,main .wrapper{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header a{
    margin-right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../Images/u578.png);
    background-size: cover;

}
header h1{
    line-height: 170px;
    font-size: 32px;
    font-weight: bold;
}
/* 主题内容 */
main .column{
    display: flex;
    width: 100%;
    height: 230px;
    /* background-color: #bfa; */
    /* vertical-align: middle; */
    align-items: center;
}
main .left{
    width: 300px;
    height: 100%;
    padding-top: 16px;
    /* background-color:cornflowerblue; */
}
main .image{
    overflow: hidden;
    box-sizing: content-box;
    width: 205px;
    height: 170px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgba(242, 215, 170, 1);
    border: 2px solid rgba(121, 121, 121, 1);
}
main .image img{
    transition: all .3s ease;
}
main .image a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 18px;
}
main .column h2{
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
main .right{
    width: 862px;
    height: 170px;
    padding: 20px 60px;
    border-radius: 20px;
    background-color: rgba(108, 132, 231, 1);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 35%);
}
main .right p{
    font-weight: bold;
    font-size: 24px;
    color: #E1ECF6;
}

/* 效果 */
main .image a:hover img{
    transform: scale(1.1);
}